.possibility,
.tools,
.set,
.webinars {
  .row.flex {
    display: flex;
    float: none;

    &.negative {
      margin-left: -10px;
      margin-right: -10px;
    }

    & [class*='col-'] {
      float: none;
    }
  }

  .align-items-center {
    align-items: center;
  }
}
