* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, personal, hgroup, main, menu, nav, section, summary {
  display: block;
}

h1, h2, h3, h4, h5, p, label {
  margin: 0;
}

img {
  max-width: 100%;
}

ol, ul {
  list-style: none;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
  display: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  position: relative;
}

h1,
h2.h1 {
  font-size: 1.688em;
  margin-bottom: 20px;
}

h1 {
  font-size: 38px;
  line-height: 42px;
  font-weight: 400;
}

h2,
h3 {
  font-size: 27px;
  line-height: 32px;
}

p {
  font-size: 14px;
  line-height: 21px;
}

ul li {
  font-size: 14px;
  line-height: 21px;
}
