//font-family

//path
$path: '../images/startpage/';
$path-font: '../fonts/';

//basic
$basic-font: 'Open Sans', sans-serif;
$basic-size: 14px;
$basic-lh: 21px;

//wights
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$bolder: 900;

$primary-size: 38px;
$secondary-size: 27px;
$third-size: 18px;

$primary-lh: 42px;
$secondary-lh: 32px;
$third-lh: 21px;

$primary: #0044cc;
$secondary: #4c4c4c;
$extra: #ffd940;
$additional: #e5eeff;


