//font-family

//path
$path: '../images/';
$path-font: '../fonts/';

//basic
$basic-font: 'Open Sans', sans-serif;
$basic-size: 14px;
$basic-lh: 21px;

//wights
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$bolder: 900;

$primary: #0044cc;
$secondary: #4c4c4c;
$extra: #ffd940;


