@import "src/reset";
@import "src/icon-fonts";
@import "src/variables";
@import "src/buttons";
@import "src/modifiers";

body {
  font: $regular $basic-size $basic-font, sans-serif;
  line-height: $basic-lh;
  color: #000;
  background: #f2f2f2;
}

header,
footer {
  padding: 39px 0;
  background: #333333;
  text-align: center;
  color: gainsboro;
}

.row {
  margin: 0 auto;
}

.startpage-container {
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(#000, .15);
  width: 1260px;
  margin: 0 auto 210px;
}

.limiter {
  width: 960px;
  margin: 0 auto;
}

.container-inner {
  width: 1260px;
  margin: 0 auto;
  background: white;

  &.transparent {
    background: transparent;
  }
}

.subtitle {
  font-size: $secondary-size;
  line-height: $secondary-lh;
  font-weight: 700;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.startpage-link {
  color: $primary;
  cursor: pointer;
  border-bottom: 1px dotted transparent;
  transition: border-color .3s linear;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $primary;
    border-bottom: 1px dotted $primary;
  }
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:active,
  &:focus,
  &:visited {
    color: $primary;
    text-decoration: none;
  }
}

.startpage-text {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.slider-control {

  &__btn {
    position: absolute;
    width: 30px;
    height: 42px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -40px;
    overflow: hidden;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 5px;
      background: #e6e6e6;
      border-radius: 50px;
      transition: background .3s linear;
    }

    &.next {
      right: 24px;

      &:before {
        top: 9px;
        transform: rotate(45deg);
        left: -1px;
        border-bottom: none;
      }

      &:after {
        bottom: 9px;
        transform: rotate(-45deg);
        left: -1px;
        border-top: none;
      }
    }

    &.prev {
      left: 30px;

      &:before {
        top: 9px;
        transform: rotate(-45deg);
        left: -1px;
        border-bottom: none;
      }

      &:after {
        bottom: 9px;
        transform: rotate(45deg);
        left: -1px;
        border-top: none;
      }
    }

    &:hover:before,
    &:hover:after {
      background: $extra;
    }
  }
}

@import "components/possibility";
@import "components/advantage";
@import "components/tools";
@import "components/set";
@import "components/courses";
@import "components/olympiad";
@import "components/webinars";
@import "components/working";
@import "components/blog";
@import "components/reviews";
@import "components/license";
@import "components/social";

