@import "src/reset";
@import "src/icon-fonts";
@import "src/variables";
@import "src/buttons";
@import "src/modifiers";

body {
  font: $regular $basic-size $basic-font, sans-serif;
  line-height: $basic-lh;
  color: #000;
  background: #f2f2f2;
}

header,
footer {
  padding: 39px 0;
  background: #333333;
  text-align: center;
  color: gainsboro;
}

.row {
  margin: 0 auto;
}

.limiter {
  width: 960px;
  margin: 0 auto;
}

.container-inner {
  width: 1260px;
  margin: 0 auto;
  background: white;
}

@import "components/possibility";
@import "components/advantage";
