@media screen and (max-width: 1249px) {
  .startpage-container,
  .container-inner,
  .limiter {
    width: 900px;
  }

  .startpage-container {
    margin-bottom: 140px;
  }

  .startpage-container .limiter {
    padding-right: 40px;
    padding-left: 40px;
  }

  .possibility .row {
    margin-left: -10px;
    margin-right: -10px;
  }

  .advantage .container-inner {
    padding-bottom: 20px;
  }

  .tools .container-inner {
    padding: 70px 0 30px;
  }

  .tools .subtitle {
    padding: 0;
  }

  .set .container-inner {
    padding: 30px 0;
  }

  .courses .container-inner,
  .reviews .container-inner {
    padding: 40px 0;
  }

  .olympiad .container-inner {
    padding-top: 50px;
  }

  .webinars .subtitle {
    padding-right: 0;
  }

  .reviews .subtitle {
    margin-bottom: 40px;
  }

  .license__unit {
    margin-bottom: 85px;
  }

  .social {
    bottom: -8px;
  }

  .tab-switcher__button span {
    align-items: start;
    line-height: 16px;
    min-height: 42px;
  }
  .social {
    margin-left: -40px;
    margin-right: -40px;
  }
}
