@media screen and (max-width: 1024px) {
  .startpage-container,
  .container-inner,
  .limiter {
    width: 100%;
  }

  .startpage-container .limiter {
    padding: 0 10px;
  }

  .possibility__title {
    padding-right: 0;
  }

  .olympiad .img-container:before, .olympiad .img-container:after {
    display: none;
  }

  .reviews-slider__col_photo {
    flex: 0 0 120px
  }

  .reviews-slider__photo {
    height: auto;
  }

  .social {
    margin: 0 -10px;
  }
}
