.license {
  .container-inner {
    border-radius: 0 0 3px 3px;
    padding: 65px 0 0;
  }

  .img-container {
    text-align: center;
  }

  .subtitle {
    text-align: left;
    margin-bottom: 25px;
  }

  &__unit {
    margin-bottom: 122px;

    &_negative {
      margin-bottom: -30px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
