.tools {
  .container-inner {
    padding: 42px 0;
  }

  .subtitle {
    padding: 0 7%;
    margin-bottom: 45px;
  }

  &__title {
    font-size: 18px;
  }
  &__title,
  &__text {
    margin-bottom: 23px;
  }

}

@import "tabSwitcher";
