.tools {
  .container-inner {
    padding: 42px 0;
  }

  .subtitle {
    padding: 0 7%;
    margin-bottom: 45px;
  }

  &__title {
    font-size: $third-size;
  }

  &__title,
  .startpage-text {
    margin-bottom: 23px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .img-container {
    text-align: center;
    padding: 20px 0;
  }
}

@import "tabSwitcher";
